.container_list 
  width: 1065px
  margin: auto
  @media screen and (max-width: 1100px)
    width: 545px;
  @media screen and (max-width: 600px)
    width: 275px

.cocktails_list 
  display: grid
  grid-gap: 0.5rem
  grid-template-columns: 254px 254px 254px 254px
  @media screen and (max-width: 1100px)
    grid-template-columns: 254px 254px
  @media screen and (max-width: 600px)
    grid-template-columns: 254px